<form action="https://formspree.io/buoyantcode@gmail.com" method="post">
  <input type="hidden" name="_language" value="de" />

  <label for="name">Name</label>
  <input type="text" name="name" required>

  <label for="email">E-Mail-Adresse</label>
  <input type="email" name="_replyto" required>

  <label for="phone">Telefonnummer</label>
  <input type="tel" name="phone">

  <label for="message">Nachricht</label>
  <textarea name="message" rows="15" cols="60" required></textarea>

  <label for="file">Wenn Sie ein Dokument mitschicken wollen, hängen Sie es einfach an:</label>
  <input type="file" name="file" value="file" id="file">

  <input type="submit" value="Abschicken">
</form>
